# Ignore all of these
.DS_Store
.ipynb_checkpoints
build/
dist/
*.pyc
skutil.egg-info/
.coverage
*.png
*.so*
cythonize.dat

# scratch code not to be pushed
skutil/scratch

# But not these
!doc/images/*.png
